@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('fonts/Roboto-Light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}
html,
body {
	position: relative;
	width: 100%;
}
body {
	background: #fafafa;
	margin: 0;
}
