.movieForm {
	width: calc(100% - 32px);
	margin: 16px;
}

.movieForm .movieRentPriceContainer {
	margin: 6px auto 0;
	width: calc(200px - 12px);
}

.movieInfoContainer {
	margin-top: 8px;
	background: gainsboro;
	padding: 16px;
}
.movieForm .movieTitleContainer .title {
	font-size: 32px;
	line-height: 32px;
}
.movieForm .genre {
	font-size: 16px;
}

.movieForm .moviePictureContainer {
	margin: auto;
}
.movieForm .form {
	padding-left: 0px;
	margin-top: 6px;
}
.movieForm .divider {
	display: block;
	height: 1px;
	margin: 16px 0;
	background: rgba(0, 0, 0, 0.2);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.movieForm .moviePictureContainer {
		margin: 0;
	}
	.movieForm .movieRentPriceContainer {
		margin: 6px 0 0;
	}
	.movieForm .form {
		padding-left: 32px;
	}
	.movieForm .divider {
		display: none;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.movieForm {
		width: 800px;
		margin: 16px auto;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.movieForm {
		width: 1100px;
		margin: 16px auto;
	}
}
